root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 100
quote_type = double
trim_trailing_whitespace = true

[{*.bat,cmd}]
end_of_line = crlf

[*.mdx?]
trim_trailing_whitespace = false

[{*.mk,makefile,Makefile}]
indent_style = tab
