*.env
*.log
*.private.env.json
*.session.sql
*.tgz
*.tsbuildinfo
.env*.local
/config.json*
/coverage/
/deploy.*
/lib/
/package/
/var/
bundle-report.html
bundle-stats.json
docker-compose.override.yml
http-client.private.env.json
node_modules/
npm-debug.log*
shipitfile.js
